{% include "partials/header.twig" %}
<main class='main-content' id="app">
<div class="main-slider">
	<div class="swiper-container main-swiper">
	  	<div class="swiper-wrapper">
			<div class="swiper-slide main-swiper-header">
				<div class="container">
					<h2 class="main-swiper-header-title">Защита автомобильных арок</h2>
					<div class="main-swiper-header-text">Повседневная практика показывает, что консультация с широким активом напрямую зависит от поставленных обществом задач.</div>
					<div class="main-swiper-header-link"><a href="">Предзаказ</a></div>
				</div>
				<div class="parallax-blocks" id="scene_1">
					<div class="parallax-block_1" data-depth="0.1"><img src="{{ site.theme.link }}/assets/images/smoke.png" alt=""></div>
  					<div class="parallax-block_2" data-depth="0.1"><img src="{{ site.theme.link }}/assets/images/rocks_1.png" alt=""></div>
  					<div class="parallax-block_3" data-depth="0.1"><img src="{{ site.theme.link }}/assets/images/rocks_2.png" alt=""></div>
  					<div class="parallax-block_4" data-depth="0.2"><img src="{{ site.theme.link }}/assets/images/audi.png" alt=""></div>
				</div>
			</div>
			<div class="swiper-slide main-swiper-header">
				<div class="container">
					<h2 class="main-swiper-header-title">Защита автомобильных арок</h2>
					<div class="main-swiper-header-text">Повседневная практика показывает, что консультация с широким активом напрямую зависит от поставленных обществом задач.</div>
					<div class="main-swiper-header-link"><a href="">Предзаказ</a></div>
				</div>
				<div class="parallax-blocks" id="scene_2">
					<div class="parallax-block_1" data-depth="0.1"><img src="{{ site.theme.link }}/assets/images/snow.png" alt=""></div>
					<div class="parallax-block_3" data-depth="0.1"><img src="{{ site.theme.link }}/assets/images/smoke2.png" alt=""></div>
  					<div class="parallax-block_4" data-depth="0.2"><img src="{{ site.theme.link }}/assets/images/audi2.png" alt=""></div>
				</div>
			</div>
			<div class="swiper-slide main-swiper-header">
				<div class="container">
					<h2 class="main-swiper-header-title">Защита автомобильных арок</h2>
					<div class="main-swiper-header-text">Повседневная практика показывает, что консультация с широким активом напрямую зависит от поставленных обществом задач.</div>
					<div class="main-swiper-header-link"><a href="">Предзаказ</a></div>
				</div>
				<div class="parallax-blocks" id="scene_3">
					<div class="parallax-block_1" data-depth="0.1"><img src="{{ site.theme.link }}/assets/images/rain.png" alt=""></div>
  					<div class="parallax-block_3" data-depth="0.1"><img src="{{ site.theme.link }}/assets/images/road.png" alt=""></div>
  					<div class="parallax-block_4" data-depth="0.2"><img src="{{ site.theme.link }}/assets/images/audi3.png" alt=""></div>
				</div>
			</div>
		</div>
		<div class="preview-pagi">
			<div class="swiper-button-prev"><svg width="9" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 1L1 7.5 8 14" stroke="#fff"/></svg></div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-next"><svg width="9" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 14l7-6.5L1 1" stroke="#fff"/></svg></div>
		</div>
	</div>
	<div class="mouse"></div>
</div>

</main>
{% include "partials/footer.twig" %}