{% include "partials/header.twig" %}
<main class='main-content' id="app">
	<div class="page-banner-top" style="background-image: url({{ site.theme.link }}/assets/images/top_bg.jpg);">
		<div class="container">
			<div class="banner-info">
				<h1 class="about_us-title">О НАС</h1>
				<div class="banner-text">Разнообразный и богатый опыт говорит нам, что выбранный нами инновационный путь позволяет оценить значение первоочередных требований. Также как начало повседневной работы по формированию позиции играет важную роль в формировании распределения внутренних резервов и ресурсов. Современная методология разработки позволяет оценить значение системы массового участия.</div>
			</div>
			<div class="banner-video video-block youtube" data-embed="UTgijnMNr6s">
				<div class="play-button">
			        <img src="{{ site.theme.link }}/assets/images/play.svg" alt="">
			    </div> 
			   	<img src="https://img.youtube.com/vi/UTgijnMNr6s/sddefault.jpg">
			</div>
		</div>
	</div>
	<div class="page-about-content">
		<div class="container">
			<div class="director-block">
				<img src="{{ site.theme.link }}/assets/images/photo.png" alt="" class="director-photo">
				<img src="{{ site.theme.link }}/assets/images/quote.png" alt="" class="director-quote">
				<div class="director-info">
					<div class="director-name">Александр Иванов</div>
					<div class="director-job">Директор</div>
					<div class="director-descript">
						Разнообразный и богатый опыт говорит нам, что выбранный нами инновационный путь позволяет оценить значение первоочередных требований. Также как начало повседневной работы по формированию позиции играет важную роль в формировании распределения внутренних резервов и ресурсов. Современная методология разработки позволяет оценить значение системы массового участия. В целом, конечно, синтетическое тестирование выявляет срочную потребность новых принципов формирования материально-технической и кадровой базы.
					</div>
				</div>
			</div>
			<div class="page-about-text">
				<h2>Как мы искали решение?</h2>
				<p>Предприниматели в сети интернет формируют глобальную экономическую сеть и при этом -  призваны к ответу. Следует отметить, что новая модель организационной деятельности не даёт нам иного выбора, кроме определения форм воздействия. Задача организации, в особенности же сплочённость команды профессионалов требует от нас анализа новых предложений! Мы вынуждены отталкиваться от того, что начало повседневной работы по формированию позиции способствует подготовке и реализации кластеризации усилий! Не следует, однако, забывать, что разбавленное изрядной долей эмпатии, рациональное мышление предполагает независимые способы реализации новых предложений. Как принято считать, тщательные исследования конкурентов представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть в.</p>
				<h2>Как нашли его?</h2>
				<p>Предприниматели в сети интернет формируют глобальную экономическую сеть и при этом -  призваны к ответу. Следует отметить, что новая модель организационной деятельности не даёт нам иного выбора, кроме определения форм воздействия. Задача организации, в особенности же сплочённость команды профессионалов требует от нас анализа новых предложений! Мы вынуждены отталкиваться от того, что начало повседневной работы по формированию позиции способствует подготовке и реализации кластеризации усилий! Не следует, однако, забывать, что разбавленное изрядной долей эмпатии, рациональное мышление предполагает независимые способы реализации новых предложений. Как принято считать, тщательные исследования конкурентов представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть в.</p>
			</div>

			<div class="pride-block">
				<img src="{{ site.theme.link }}/assets/images/patent.png" alt="" class="pride-patent">
				<div class="pride-block-title">НАМ ЕСТЬ ЧЕМ ГОРДИТЬСЯ</div>
				<div class="pride-block-text">
					Предприниматели в сети интернет формируют глобальную экономическую сеть и при этом -  призваны к ответу. Следует отметить, что новая модель организационной деятельности не даёт нам иного выбора, кроме определения форм воздействия. Задача организации, в особенности же сплочённость команды профессионалов требует от нас анализа новых предложений! Мы вынуждены отталкиваться от того, что начало повседневной работы по формированию позиции способствует подготовке и реализации кластеризации усилий! Не следует, однако, забывать, что разбавленное изрядной долей эмпатии, рациональное мышление предполагает независимые способы реализации новых предложений. Как принято считать, тщательные исследования конкурентов представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть в.
				</div>
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}